In [1]:
import pandas as pd

In [6]:
columns = ['id','person_id',
    'name','imdb_index','name_pcode_cf',
    'name_pcode_nf','surname_pcode',
    'md5sum']

In [11]:
df = pd.read_csv('~/aka_name.csv')

In [12]:
df

,id,person_id,name,imdb_index,name_pcode_cf,name_pcode_nf,surname_pcode,md5sum
0,1,4061927.0,"Smith, Jessica Noel",NaN,S5325,J2542,S53,25c9d464e3ff2957533546aa92b397ed
1,2,4.0,"Short, Too",NaN,S63,T263,NaN,4e26116e5f9800cef90c8f8c38de2584
2,3,2701136.0,"Abdul-Hamid, Jaffar",NaN,A1345,J1613,NaN,fb5126fe9992e13156c636d726cec257
3,4,2701136.0,"Al-Hamid, Jaffar Abd",NaN,A4532,J1613,A453,179ad5f75c84c4bddd6733c66b6b0bb7
4,5,15.0,"Viera, Michael 'Power'",NaN,V6524,M2416,V6,354cea2b99f8b1f745ea6092eefa2bd7
...,...,...,...,...,...,...,...,...
45288,45290,117569.0,"Belassky, Marty",NaN,B4256,M6314,B42,741cfe1297594d5bf1d23ef2a048ae7d
45289,45291,117572.0,"Bellagio, Enrico",NaN,B4256,E5621,B42,2f321c03489dec81ed7a4a68f441c788
45290,45292,117575.0,Nour,NaN,N6,NaN,NaN,9ceb5b2ab20ce8664d5744f7c8c52b72
45291,45293,117577.0,"Prince, Franck",NaN,P6521,F6521,P652,94b1d9117b31540b8d816dfbe1b92f96
45292,4529,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
min_person_id = df['person_id'].min()
max_person_id = df['person_id'].max()

In [21]:
lst_name = df['name'].unique()

In [23]:
lst_name_pcode_cf = df['name_pcode_cf'].unique()

In [26]:
lst_name_pcode_nf = df['name_pcode_nf'].unique()

In [28]:
lst_surname_pcode = df['surname_pcode'].unique()

In [29]:
lst_md5sum = df['md5sum'].unique()

In [31]:
df = pd.read_csv('~/company_type.csv')

In [44]:
df = pd.read_csv('~/role_type.csv')

In [33]:
min_company_id = df['id'].min()
max_company_id = df['id'].max()

In [35]:
lst_name = df['name'].unique()

In [45]:
df.columns

Index(['id', 'role'], dtype='object')

In [41]:
lst_country_code = df[' country_code'].unique()

In [47]:
lst_role_type = df['role'].unique()

In [50]:
description = dict()

In [51]:
description['cn.country_code'] = lst_country_code

In [52]:
description['rt.role'] = lst_role_type

In [48]:
str_sql = """
SELECT MIN(chn.name) AS uncredited_voiced_character,
       MIN(t.title) AS russian_movie
FROM char_name AS chn,
     cast_info AS ci,
     company_name AS cn,
     company_type AS ct,
     movie_companies AS mc,
     role_type AS rt,
     title AS t
WHERE ci.note LIKE '%(voice)%'
  AND ci.note LIKE '%(uncredited)%'
  AND cn.country_code = '[ru]'
  AND rt.role = 'actor'
  AND t.production_year > 2005
  AND t.id = mc.movie_id
  AND t.id = ci.movie_id
  AND ci.movie_id = mc.movie_id
  AND chn.id = ci.person_role_id
  AND rt.id = ci.role_id
  AND cn.id = mc.company_id
  AND ct.id = mc.company_type_id;"""

In [54]:
from random import randint

In [55]:
def get_random(lst):
    len_lst = len(lst)
    return lst[randint(0,len_lst)]

In [56]:
description['cn.country_code']

array(['[de]', '[us]', '[gb]', '[it]', '[es]', '[fi]', '[fr]', '[ee]',
       '[in]', '[hk]', '[gr]', nan, '[jp]', '[za]', '[be]', '[ie]',
       '[br]', '[ca]', '[ar]', '[mx]', '[ch]', '[rs]', '[se]', '[hu]',
       '[au]', '[nl]', '[ru]', '[kr]', '[my]', '[cn]', '[nz]', '[ph]',
       '[at]', '[uy]', '[il]', '[tr]', '[ve]', '[dz]', '[pt]', '[is]',
       '[eg]', '[ua]', '[cl]', '[dk]', '[suhh]', '[th]', '[mt]', '[sa]',
       '[ro]', '[ir]', '[ec]', '[ddde]', '[ba]', '[xyu]', '[sg]', '[no]',
       '[cshh]', '[tw]', '[pr]', '[bd]', '[cz]', '[hr]', '[pl]', '[lv]',
       '[sk]', '[ge]', '[mo]', '[ae]', '[lt]', '[bg]', '[lb]', '[ni]',
       '[cr]', '[mk]', '[pk]', '[al]', '[sd]', '[ma]', '[bh]', '[pe]',
       '[tj]', '[sr]', '[vn]', '[cu]', '[co]', '[tt]', '[kz]', '[si]',
       '[by]', '[na]', '[dm]', '[do]', '[qa]', '[id]', '[kh]', '[ci]',
       '[lu]', '[bo]', '[md]', '[np]', '[ng]', '[ao]', '[gt]', '[py]',
       '[bl]', '[am]', '[az]', '[sv]', '[kp]', '[zm]', '[rw]', '[bw]',
       '[vg]', '[ke]', '[et]', '[hn]', '[cy]', '[af]', '[ky]', '[tn]',
       '[bf]', '[ps]', '[bn]', '[lk]', '[mc]', '[om]', '[gi]', '[sl]',
       '[pa]', '[jo]', '[sy]', '[ag]', '[bb]', '[ad]', '[tz]', '[bz]',
       '[gh]', '[gp]', '[mn]', '[fo]', '[la]', '[aw]', '[sn]', '[tf]',
       '[sz]', '[um]', '[bm]', '[zw]', '[td]', '[ug]', '[ht]', '[yucs]',
       '[kw]', '[lc]', '[gd]', '[tl]', '[gu]', '[iq]', '[ly]', '[tm]',
       '[bt]', '[bi]'], dtype=object)